<!DOCTYPE html>
<html lang="en" style="width: 1326px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: #121212;width: 100%;height: 100%;">
    <h1 style="text-align: center;color: rgb(255,255,255);">Skills for {{userId}}</h1>
    <div class="row" style="color: rgb(255,255,255);">
        <div class="col">
            {{#each firstRow as |cat|}}
            <div style="text-align: center; vertical-align: top">
                <h1 style="text-align: center;font-size: 25px;">{{cat.name}}</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead style="color: rgb(255,255,255);">
                            <tr>
                                <th>Skill</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody style="color: rgb(255,255,255);">
                            {{#each cat.skills as |skill|}}
                            <tr>
                                <td>{{skill.name}}</td>
                                <td>{{skill.level}}/{{skill.maxLevel}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col">
            {{#each secondRow as |cat|}}
            <div style="text-align: center; vertical-align: top">
                <h1 style="text-align: center;font-size: 25px;">{{cat.name}}</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead style="color: rgb(255,255,255);">
                            <tr>
                                <th>Skill</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody style="color: rgb(255,255,255);">
                            {{#each cat.skills as |skill|}}
                            <tr>
                                <td>{{skill.name}}</td>
                                <td>{{skill.level}}/{{skill.maxLevel}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col">
            {{#each thirdRow as |cat|}}
            <div style="text-align: center; vertical-align: top">
                <h1 style="text-align: center;font-size: 25px;">{{cat.name}}</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead style="color: rgb(255,255,255);">
                            <tr>
                                <th>Skill</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody style="color: rgb(255,255,255);">
                            {{#each cat.skills as |skill|}}
                            <tr>
                                <td>{{skill.name}}</td>
                                <td>{{skill.level}}/{{skill.maxLevel}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>